<dx-data-grid id="gridFaculty"
              [dataSource]="items"
              [showRowLines]="false"
              [showBorders]="false">
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-search-panel [visible]="true"
                    [width]="440"
                    placeholder="Поиск..."></dxo-search-panel>
  <dxi-column dataField="companyName" caption="Наименование" dataType="string">
    <dxo-header-filter [allowSearch]="true"></dxo-header-filter>
  </dxi-column>
  <dxi-column caption="Краткое наиманование"></dxi-column>
  <dxi-column caption="Фамилия И.О. декана"></dxi-column>
</dx-data-grid>
