<mat-tab-group>
  <mat-tab label="Факультеты">
    
  </mat-tab>
  <mat-tab label="Группы">Content 2</mat-tab>
  <mat-tab label="Кафедры">
    <dx-data-grid id="gridDepartment"
                  [dataSource]="items"
                  [showRowLines]="true"
                  [showBorders]="true">
      <dxi-column dataField="companyName" caption="Наименование"></dxi-column>
      <dxi-column caption="Краткое наиманование"></dxi-column>
      <dxi-column caption="Фамилия И.О. заведующего"></dxi-column>
    </dx-data-grid>
  </mat-tab>
  <mat-tab label="Преподаватели">Content 2</mat-tab>
</mat-tab-group>
